= render 'shared/header'
.container
  .search-main
    .search-main__event
      .search-main__event__title
        イベントを検索する
      = form_with(url: search_index_path, method: :get, local: true, class: "search-main__event__form") do |form|
        .search-main__event__form__conditions
          = form.text_field :search, class: "search-main__event__form__conditions__field"
          .search-main__event__form__conditions__check
            = form.label "過去開催されたイベントを表示する"
            = form.check_box(:past_event, checked: @past_event)
          .search-main__event__form__conditions_check
            = form.label "定員越えのイベントを表示しない"
            = form.check_box(:capacity_over, checked: @capacity_over)
        = form.submit "検索", class: "search-main__event__form__btn"
      .search-main__event__contents
        = @capacity_over
        - @events.each do |event|
          .search-main__event__contents__content
            .search-main__event__contents__content__image
              - if event.img.present?
                = image_tag event.img.url , size: "120x90"
              - else
                = image_tag '/images/rails-logo.png', size: "120x90"
            .search-main__event__contents__content__detail
              .search-main__event__contents__content__detail__title
                = link_to "#{event.title}", event_path(event.id)
              .search-main__event__contents__content__detail__date
                = icon('far', 'clock')
                = event.event_start_at.strftime("%Y-%m-%d %H:%M")
              .search-main__event__contents__content__detail__place
                = icon('fas', 'map-marker-alt')
                = event.place
              .search-main__event__contents__content__detail__counter
                .search-main__event__contents__content__detail__counter__capacity
                  = icon('fas', 'user-friends')
                  = event.participants.count
                  \/
                  = event.capacity
                .search-main__event__contents__content__detail__counter__capacity
                  = icon('fas', 'star')
                  = event.favorites.count



