= render 'shared/header'
.container
  .us-main
    = render 'shared/side-menu'
    .us-main__contents
      .us-main__contents__name
        = @user.nickname
      .us-main__contents__info
        .us-main__contents__info__place
          - if @user.profile.place.present?
            = icon('fas', 'map-marker-alt')
            = @user.profile.place
          - else
            (未設定)
        .us-main__contents__info__intro
          - if @user.profile.introduction.present?
            = simple_format(@user.profile.introduction)
          - else
            （自己紹介は未設定です）