.header
  .header__top
    .header__top__logo
      event-app
  .header__bottom
    %ul
      %li.menu
        = link_to "トップページ", events_path, class: "header-menu"
      %li.menu
        = link_to "イベントを探す", search_index_path, class: "header-menu"
      - if user_signed_in?
        %li.menu
          = link_to "マイページ", user_path(current_user.id), class: "header-menu"
        %li.menu
          = link_to "イベント", new_event_path, class: "header-menu"
      - else
        %li.menu
          = link_to "サインイン", new_user_session_path, class: "header-menu"
        %li.menu
          = link_to "新規会員登録", new_user_registration_path, class: "header-menu"
