.side-menu
  %ul
    %li.side-menu__content
      = link_to "プロフィール", user_path(current_user.id), class: "side-menu__content__btn", method: :get
    %li.side-menu__content
      = link_to "参加予定", participant_path(current_user.id), class: "side-menu__content__btn", method: :get
    %li.side-menu__content
      = link_to "参加履歴", history_participant_path(current_user.id), class: "side-menu__content__btn", method: :get
    %li.side-menu__content
      = link_to "お気に入り", favorite_path(current_user.id), class: "side-menu__content__btn", method: :get
    %li.side-menu__content
      = link_to "ログアウト", signout_users_path, class: "side-menu__content__btn", method: :get
      